@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: Freshbot;
  src: url(./assets/FRESHBOT.TTF);
}

html {
  scroll-behavior: smooth;
}
* {
  color: white;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1504680177321-2e6a879aac86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  /* background-image: url(https://images.unsplash.com/photo-1504680177321-2e6a879aac86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80); */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow-x: hidden;
  /* background-image: url("./assets/images/home_bg.png"); */
}
/* h1{
  text-shadow: 2px 2px 5px #000;
} */
section {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
div {
  z-index: 2;
}
#home {
  padding-top: 0;
  margin-top: 7vh;
  /* background-image: url("./assets/images/home_bg.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 120px;
}
#timer,
#event_c {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#time {
  font-family: "Freshbot", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #ffffff solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  /* background-image: linear-gradient(yellow, red); */
  /* background-image: url("./assets/images/fire.gif"); */
  margin-top: 10px;
  font-size: 28px;
  text-shadow: #000 2px 2px 5px;
}

#members {
  font-family: "Amaranth", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo img {
  height: 50vh;
  /* margin-bottom: -10vh; */
  /* opacity: 0.7; */
  z-index: 1;
}
/* @media screen and(max-width: 800px) {

  body{
    background-color: white;
  }
} */

.official {
  text-shadow: 2px 2px 5px black;
  font-family: "Amaranth", sans-serif;
  color: white;
  font-size: 1.8em;
  margin-bottom: 40px;
}

.main_text {
  outline-color: #000;
  -webkit-text-stroke: 1px black;
  text-shadow: 5px 5px 5px black;
  font-size: 10em;
  letter-spacing: 2px;
  color: white;
  margin-top: -25vh;
  /* text-transform: uppercase; */
  width: 100%;
  text-align: center;
  transform: rotate(-8deg);
  font-family: "Water Brush", cursive;
}

.head-text {
  font-family: "Amaranth", sans-serif;
  color: white;
  margin-top: 72px;
  padding: 24px;
}

.main_logo {
  height: 250px;
  width: 250px;
  padding: 22px;
}

#contact {
  justify-content: space-between;
  padding-top: 30px !important;
  min-height: 100vh;
  font-family: "Amaranth", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* overflow-y: visible; */
}

nav {
  backdrop-filter: blur(5px);
  font-family: "Freshbot", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  position: -webkit-sticky;
  /* Safari */
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 999;
}

.nav-links {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo a,
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-links :hover {
  /* text-shadow: 2px 2px 3px white; */
  /* -webkit-text-stroke: 1px white; */
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url(./assets/images/fire.gif);
  background-size: cover;
  background-blend-mode: soft-light;
  /* color: palevioletred; */
}

.nav-links li {
  list-style: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
  z-index: 999;
}

.text-center {
  font-size: 22px;
  color: #fff;
}

footer a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .logo img {
    height: 30vh;
  }
  .main_text {
    font-size: 5em;
    margin-top: 0;
  }
  .no-blur {
    backdrop-filter: none !important;
  }

  .nav-links {
    padding-top: 90px;
    padding-left: 0;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background: rgba(38, 41, 34, 0.7);
    backdrop-filter: blur(10px) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 999;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
  .rotatingText-adjective {
    font-size: 1.5rem !important;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* nav bar style end */

.college {
  /* background-color: white; */
  border-radius: 100%;
  max-width: fit-content;
  /* padding: 5px; */
  margin: auto;
}

.college img {
  height: 38px;
  /* padding: 5px; */
  margin: 5px;
  /* border-radius: 100%; */
}

/* decoration */
.heading-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.display-4 {
  text-shadow: 2px 2px 5px black;
  text-align: center;
  justify-content: center;
  margin: 0;
  font-family: "Freshbot", sans-serif;
  letter-spacing: 5px;
  font-size: 90px !important;
}

.about-desc {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 10%;
  padding: 0 5%;
}
/* footer */
.footer {
  padding-top: 35px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.mf {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: black;
  width: 300px;
  max-width: 80%;
}

.mf.active {
  transform: translate(-50%, -50%) scale(1);
}

.mf-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .mf-header {
  font-size: 1.25rem;
  font-weight: bold;
} */

.mf-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.mf-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.abc {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Amaranth", sans-serif;
  color: aliceblue;
  background-color: #000;
}

.abc img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid seagreen;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

/* .abc .title {
  color: white;
  font-size: 22px;
} */

.abc a {
  text-decoration: none;
  font-size: 25px;
  padding: 5px;
  color: white;
}

.abc a:hover {
  opacity: 0.7;
}

.dev-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.hand {
  margin: 0;
}

.btn-link {
  text-decoration: none !important;
  color: white !important;
  font-family: "Amaranth", sans-serif;
  font-size: 20px !important;
}

.btn:hover {
  color: rgba(255, 0, 146, 1) !important;
}

.okboomer {
  margin: 0;
  font-size: 20px;
  font-family: "Amaranth", sans-serif !important;
}

/* fireflies start */
html,
body {
  height: 100%;
}

.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.firefly::before,
.firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: black;
  opacity: 0.4;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 9s;
}
.firefly:nth-child(1)::after {
  animation-duration: 9s, 7722ms;
  animation-delay: 0ms, 4000ms;
}

@keyframes move1 {
  0% {
    transform: translateX(-22vw) translateY(24vh) scale(0.75);
  }
  3.7037037037% {
    transform: translateX(2vw) translateY(29vh) scale(0.72);
  }
  7.4074074074% {
    transform: translateX(0vw) translateY(-42vh) scale(0.83);
  }
  11.1111111111% {
    transform: translateX(27vw) translateY(45vh) scale(0.39);
  }
  14.8148148148% {
    transform: translateX(13vw) translateY(-39vh) scale(0.35);
  }
  18.5185185185% {
    transform: translateX(12vw) translateY(15vh) scale(0.54);
  }
  22.2222222222% {
    transform: translateX(32vw) translateY(-2vh) scale(0.31);
  }
  25.9259259259% {
    transform: translateX(-11vw) translateY(39vh) scale(0.89);
  }
  29.6296296296% {
    transform: translateX(15vw) translateY(31vh) scale(0.66);
  }
  33.3333333333% {
    transform: translateX(40vw) translateY(-13vh) scale(0.82);
  }
  37.037037037% {
    transform: translateX(18vw) translateY(-36vh) scale(0.94);
  }
  40.7407407407% {
    transform: translateX(45vw) translateY(-33vh) scale(0.62);
  }
  44.4444444444% {
    transform: translateX(44vw) translateY(-31vh) scale(0.45);
  }
  48.1481481481% {
    transform: translateX(41vw) translateY(2vh) scale(0.43);
  }
  51.8518518519% {
    transform: translateX(19vw) translateY(-39vh) scale(0.39);
  }
  55.5555555556% {
    transform: translateX(-21vw) translateY(46vh) scale(0.42);
  }
  59.2592592593% {
    transform: translateX(21vw) translateY(11vh) scale(0.45);
  }
  62.962962963% {
    transform: translateX(20vw) translateY(15vh) scale(0.83);
  }
  66.6666666667% {
    transform: translateX(-6vw) translateY(-19vh) scale(0.75);
  }
  70.3703703704% {
    transform: translateX(27vw) translateY(20vh) scale(0.82);
  }
  74.0740740741% {
    transform: translateX(-34vw) translateY(-22vh) scale(0.76);
  }
  77.7777777778% {
    transform: translateX(16vw) translateY(-4vh) scale(0.34);
  }
  81.4814814815% {
    transform: translateX(22vw) translateY(-4vh) scale(0.5);
  }
  85.1851851852% {
    transform: translateX(3vw) translateY(-44vh) scale(0.51);
  }
  88.8888888889% {
    transform: translateX(6vw) translateY(47vh) scale(0.88);
  }
  92.5925925926% {
    transform: translateX(36vw) translateY(2vh) scale(0.28);
  }
  96.2962962963% {
    transform: translateX(-13vw) translateY(-15vh) scale(0.55);
  }
  100% {
    transform: translateX(48vw) translateY(41vh) scale(0.61);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 9s;
}
.firefly:nth-child(2)::after {
  animation-duration: 9s, 5045ms;
  animation-delay: 0ms, 5579ms;
}

@keyframes move2 {
  0% {
    transform: translateX(-45vw) translateY(-33vh) scale(0.51);
  }
  5.2631578947% {
    transform: translateX(-37vw) translateY(-32vh) scale(0.36);
  }
  10.5263157895% {
    transform: translateX(37vw) translateY(9vh) scale(0.72);
  }
  15.7894736842% {
    transform: translateX(13vw) translateY(27vh) scale(0.94);
  }
  21.0526315789% {
    transform: translateX(-38vw) translateY(-34vh) scale(0.83);
  }
  26.3157894737% {
    transform: translateX(-27vw) translateY(-6vh) scale(0.71);
  }
  31.5789473684% {
    transform: translateX(-12vw) translateY(33vh) scale(0.44);
  }
  36.8421052632% {
    transform: translateX(50vw) translateY(2vh) scale(0.28);
  }
  42.1052631579% {
    transform: translateX(2vw) translateY(0vh) scale(0.84);
  }
  47.3684210526% {
    transform: translateX(1vw) translateY(33vh) scale(0.64);
  }
  52.6315789474% {
    transform: translateX(45vw) translateY(-9vh) scale(0.71);
  }
  57.8947368421% {
    transform: translateX(29vw) translateY(-19vh) scale(0.26);
  }
  63.1578947368% {
    transform: translateX(-36vw) translateY(33vh) scale(0.63);
  }
  68.4210526316% {
    transform: translateX(36vw) translateY(37vh) scale(0.43);
  }
  73.6842105263% {
    transform: translateX(23vw) translateY(21vh) scale(0.95);
  }
  78.9473684211% {
    transform: translateX(48vw) translateY(25vh) scale(0.91);
  }
  84.2105263158% {
    transform: translateX(-38vw) translateY(37vh) scale(0.86);
  }
  89.4736842105% {
    transform: translateX(-19vw) translateY(16vh) scale(0.83);
  }
  94.7368421053% {
    transform: translateX(41vw) translateY(43vh) scale(0.98);
  }
  100% {
    transform: translateX(-42vw) translateY(5vh) scale(0.61);
  }
}
.firefly:nth-child(3) {
  animation-name: move3;
}
.firefly:nth-child(3)::before {
  animation-duration: 17s;
}
.firefly:nth-child(3)::after {
  animation-duration: 17s, 5631ms;
  animation-delay: 0ms, 6687ms;
}

@keyframes move3 {
  0% {
    transform: translateX(-31vw) translateY(24vh) scale(0.51);
  }
  4.7619047619% {
    transform: translateX(39vw) translateY(-34vh) scale(0.96);
  }
  9.5238095238% {
    transform: translateX(-34vw) translateY(8vh) scale(0.92);
  }
  14.2857142857% {
    transform: translateX(-25vw) translateY(-2vh) scale(0.76);
  }
  19.0476190476% {
    transform: translateX(-23vw) translateY(17vh) scale(0.6);
  }
  23.8095238095% {
    transform: translateX(30vw) translateY(28vh) scale(0.76);
  }
  28.5714285714% {
    transform: translateX(-29vw) translateY(-43vh) scale(0.95);
  }
  33.3333333333% {
    transform: translateX(-11vw) translateY(41vh) scale(0.93);
  }
  38.0952380952% {
    transform: translateX(-17vw) translateY(22vh) scale(0.5);
  }
  42.8571428571% {
    transform: translateX(-48vw) translateY(-23vh) scale(0.98);
  }
  47.619047619% {
    transform: translateX(-11vw) translateY(43vh) scale(0.88);
  }
  52.380952381% {
    transform: translateX(20vw) translateY(17vh) scale(0.52);
  }
  57.1428571429% {
    transform: translateX(-49vw) translateY(6vh) scale(0.65);
  }
  61.9047619048% {
    transform: translateX(-1vw) translateY(-21vh) scale(0.51);
  }
  66.6666666667% {
    transform: translateX(46vw) translateY(-41vh) scale(0.64);
  }
  71.4285714286% {
    transform: translateX(36vw) translateY(-46vh) scale(0.67);
  }
  76.1904761905% {
    transform: translateX(29vw) translateY(45vh) scale(0.43);
  }
  80.9523809524% {
    transform: translateX(-22vw) translateY(25vh) scale(0.67);
  }
  85.7142857143% {
    transform: translateX(24vw) translateY(-22vh) scale(0.82);
  }
  90.4761904762% {
    transform: translateX(-48vw) translateY(-8vh) scale(0.37);
  }
  95.2380952381% {
    transform: translateX(-15vw) translateY(33vh) scale(0.77);
  }
  100% {
    transform: translateX(35vw) translateY(11vh) scale(0.84);
  }
}
.firefly:nth-child(4) {
  animation-name: move4;
}
.firefly:nth-child(4)::before {
  animation-duration: 12s;
}
.firefly:nth-child(4)::after {
  animation-duration: 12s, 7084ms;
  animation-delay: 0ms, 4576ms;
}

@keyframes move4 {
  0% {
    transform: translateX(5vw) translateY(-17vh) scale(0.82);
  }
  5.2631578947% {
    transform: translateX(1vw) translateY(-2vh) scale(0.71);
  }
  10.5263157895% {
    transform: translateX(2vw) translateY(-48vh) scale(0.99);
  }
  15.7894736842% {
    transform: translateX(-15vw) translateY(4vh) scale(0.63);
  }
  21.0526315789% {
    transform: translateX(-1vw) translateY(-49vh) scale(0.84);
  }
  26.3157894737% {
    transform: translateX(38vw) translateY(43vh) scale(0.42);
  }
  31.5789473684% {
    transform: translateX(33vw) translateY(-34vh) scale(0.51);
  }
  36.8421052632% {
    transform: translateX(17vw) translateY(1vh) scale(0.72);
  }
  42.1052631579% {
    transform: translateX(32vw) translateY(29vh) scale(1);
  }
  47.3684210526% {
    transform: translateX(-6vw) translateY(-34vh) scale(0.96);
  }
  52.6315789474% {
    transform: translateX(36vw) translateY(20vh) scale(0.75);
  }
  57.8947368421% {
    transform: translateX(-10vw) translateY(-34vh) scale(0.28);
  }
  63.1578947368% {
    transform: translateX(-20vw) translateY(-41vh) scale(0.35);
  }
  68.4210526316% {
    transform: translateX(-9vw) translateY(-1vh) scale(0.76);
  }
  73.6842105263% {
    transform: translateX(-44vw) translateY(32vh) scale(0.48);
  }
  78.9473684211% {
    transform: translateX(10vw) translateY(-1vh) scale(0.7);
  }
  84.2105263158% {
    transform: translateX(43vw) translateY(38vh) scale(0.6);
  }
  89.4736842105% {
    transform: translateX(-27vw) translateY(40vh) scale(0.44);
  }
  94.7368421053% {
    transform: translateX(-18vw) translateY(-16vh) scale(0.73);
  }
  100% {
    transform: translateX(38vw) translateY(11vh) scale(0.69);
  }
}
.firefly:nth-child(5) {
  animation-name: move5;
}
.firefly:nth-child(5)::before {
  animation-duration: 18s;
}
.firefly:nth-child(5)::after {
  animation-duration: 18s, 8146ms;
  animation-delay: 0ms, 3962ms;
}

@keyframes move5 {
  0% {
    transform: translateX(45vw) translateY(-35vh) scale(0.45);
  }
  5.8823529412% {
    transform: translateX(34vw) translateY(11vh) scale(0.44);
  }
  11.7647058824% {
    transform: translateX(21vw) translateY(21vh) scale(0.36);
  }
  17.6470588235% {
    transform: translateX(47vw) translateY(-34vh) scale(0.95);
  }
  23.5294117647% {
    transform: translateX(-40vw) translateY(-28vh) scale(0.51);
  }
  29.4117647059% {
    transform: translateX(22vw) translateY(21vh) scale(0.26);
  }
  35.2941176471% {
    transform: translateX(49vw) translateY(15vh) scale(0.98);
  }
  41.1764705882% {
    transform: translateX(37vw) translateY(-35vh) scale(0.36);
  }
  47.0588235294% {
    transform: translateX(0vw) translateY(5vh) scale(0.4);
  }
  52.9411764706% {
    transform: translateX(38vw) translateY(15vh) scale(0.94);
  }
  58.8235294118% {
    transform: translateX(-32vw) translateY(18vh) scale(0.5);
  }
  64.7058823529% {
    transform: translateX(-26vw) translateY(36vh) scale(0.6);
  }
  70.5882352941% {
    transform: translateX(-25vw) translateY(-42vh) scale(0.9);
  }
  76.4705882353% {
    transform: translateX(-33vw) translateY(18vh) scale(0.65);
  }
  82.3529411765% {
    transform: translateX(18vw) translateY(-24vh) scale(0.85);
  }
  88.2352941176% {
    transform: translateX(37vw) translateY(-33vh) scale(0.49);
  }
  94.1176470588% {
    transform: translateX(-31vw) translateY(-7vh) scale(0.4);
  }
  100% {
    transform: translateX(-7vw) translateY(44vh) scale(0.57);
  }
}
.firefly:nth-child(6) {
  animation-name: move6;
}
.firefly:nth-child(6)::before {
  animation-duration: 9s;
}
.firefly:nth-child(6)::after {
  animation-duration: 9s, 7195ms;
  animation-delay: 0ms, 843ms;
}

@keyframes move6 {
  0% {
    transform: translateX(-25vw) translateY(32vh) scale(0.55);
  }
  5% {
    transform: translateX(21vw) translateY(29vh) scale(0.69);
  }
  10% {
    transform: translateX(25vw) translateY(-27vh) scale(0.73);
  }
  15% {
    transform: translateX(-39vw) translateY(28vh) scale(0.42);
  }
  20% {
    transform: translateX(46vw) translateY(-28vh) scale(0.93);
  }
  25% {
    transform: translateX(6vw) translateY(-1vh) scale(0.85);
  }
  30% {
    transform: translateX(-39vw) translateY(23vh) scale(0.39);
  }
  35% {
    transform: translateX(-19vw) translateY(33vh) scale(0.56);
  }
  40% {
    transform: translateX(13vw) translateY(-45vh) scale(0.96);
  }
  45% {
    transform: translateX(18vw) translateY(44vh) scale(0.6);
  }
  50% {
    transform: translateX(23vw) translateY(-39vh) scale(0.47);
  }
  55% {
    transform: translateX(34vw) translateY(41vh) scale(0.3);
  }
  60% {
    transform: translateX(6vw) translateY(-32vh) scale(0.86);
  }
  65% {
    transform: translateX(-21vw) translateY(-15vh) scale(0.42);
  }
  70% {
    transform: translateX(-23vw) translateY(-11vh) scale(0.67);
  }
  75% {
    transform: translateX(15vw) translateY(28vh) scale(0.38);
  }
  80% {
    transform: translateX(-1vw) translateY(21vh) scale(0.72);
  }
  85% {
    transform: translateX(-11vw) translateY(11vh) scale(0.35);
  }
  90% {
    transform: translateX(-11vw) translateY(50vh) scale(0.84);
  }
  95% {
    transform: translateX(-49vw) translateY(12vh) scale(0.92);
  }
  100% {
    transform: translateX(50vw) translateY(-33vh) scale(0.72);
  }
}
.firefly:nth-child(7) {
  animation-name: move7;
}
.firefly:nth-child(7)::before {
  animation-duration: 13s;
}
.firefly:nth-child(7)::after {
  animation-duration: 13s, 10771ms;
  animation-delay: 0ms, 3330ms;
}

@keyframes move7 {
  0% {
    transform: translateX(24vw) translateY(43vh) scale(0.35);
  }
  5.2631578947% {
    transform: translateX(12vw) translateY(12vh) scale(0.27);
  }
  10.5263157895% {
    transform: translateX(49vw) translateY(-6vh) scale(0.91);
  }
  15.7894736842% {
    transform: translateX(9vw) translateY(-40vh) scale(0.46);
  }
  21.0526315789% {
    transform: translateX(-20vw) translateY(43vh) scale(0.51);
  }
  26.3157894737% {
    transform: translateX(0vw) translateY(46vh) scale(0.54);
  }
  31.5789473684% {
    transform: translateX(28vw) translateY(17vh) scale(0.65);
  }
  36.8421052632% {
    transform: translateX(13vw) translateY(10vh) scale(0.35);
  }
  42.1052631579% {
    transform: translateX(-48vw) translateY(47vh) scale(0.95);
  }
  47.3684210526% {
    transform: translateX(-37vw) translateY(-29vh) scale(0.71);
  }
  52.6315789474% {
    transform: translateX(38vw) translateY(26vh) scale(0.59);
  }
  57.8947368421% {
    transform: translateX(-14vw) translateY(43vh) scale(0.99);
  }
  63.1578947368% {
    transform: translateX(14vw) translateY(-9vh) scale(0.5);
  }
  68.4210526316% {
    transform: translateX(-21vw) translateY(-27vh) scale(0.3);
  }
  73.6842105263% {
    transform: translateX(32vw) translateY(16vh) scale(0.8);
  }
  78.9473684211% {
    transform: translateX(-6vw) translateY(47vh) scale(0.28);
  }
  84.2105263158% {
    transform: translateX(-5vw) translateY(-32vh) scale(0.61);
  }
  89.4736842105% {
    transform: translateX(44vw) translateY(39vh) scale(0.27);
  }
  94.7368421053% {
    transform: translateX(20vw) translateY(16vh) scale(0.74);
  }
  100% {
    transform: translateX(-39vw) translateY(-2vh) scale(1);
  }
}
.firefly:nth-child(8) {
  animation-name: move8;
}
.firefly:nth-child(8)::before {
  animation-duration: 12s;
}
.firefly:nth-child(8)::after {
  animation-duration: 12s, 7135ms;
  animation-delay: 0ms, 2786ms;
}

@keyframes move8 {
  0% {
    transform: translateX(-10vw) translateY(18vh) scale(0.57);
  }
  4.7619047619% {
    transform: translateX(29vw) translateY(-28vh) scale(0.86);
  }
  9.5238095238% {
    transform: translateX(-2vw) translateY(36vh) scale(0.55);
  }
  14.2857142857% {
    transform: translateX(-33vw) translateY(-28vh) scale(0.63);
  }
  19.0476190476% {
    transform: translateX(29vw) translateY(-28vh) scale(0.8);
  }
  23.8095238095% {
    transform: translateX(44vw) translateY(-45vh) scale(0.81);
  }
  28.5714285714% {
    transform: translateX(16vw) translateY(-28vh) scale(0.61);
  }
  33.3333333333% {
    transform: translateX(-16vw) translateY(19vh) scale(0.86);
  }
  38.0952380952% {
    transform: translateX(18vw) translateY(-18vh) scale(0.27);
  }
  42.8571428571% {
    transform: translateX(14vw) translateY(15vh) scale(1);
  }
  47.619047619% {
    transform: translateX(-6vw) translateY(-29vh) scale(0.3);
  }
  52.380952381% {
    transform: translateX(-32vw) translateY(17vh) scale(0.35);
  }
  57.1428571429% {
    transform: translateX(18vw) translateY(-5vh) scale(0.58);
  }
  61.9047619048% {
    transform: translateX(42vw) translateY(-7vh) scale(0.69);
  }
  66.6666666667% {
    transform: translateX(6vw) translateY(-37vh) scale(0.73);
  }
  71.4285714286% {
    transform: translateX(18vw) translateY(39vh) scale(0.52);
  }
  76.1904761905% {
    transform: translateX(-37vw) translateY(-28vh) scale(0.62);
  }
  80.9523809524% {
    transform: translateX(-42vw) translateY(30vh) scale(0.85);
  }
  85.7142857143% {
    transform: translateX(-26vw) translateY(16vh) scale(0.86);
  }
  90.4761904762% {
    transform: translateX(24vw) translateY(-14vh) scale(0.47);
  }
  95.2380952381% {
    transform: translateX(-3vw) translateY(-3vh) scale(0.66);
  }
  100% {
    transform: translateX(30vw) translateY(-11vh) scale(0.64);
  }
}
.firefly:nth-child(9) {
  animation-name: move9;
}
.firefly:nth-child(9)::before {
  animation-duration: 14s;
}
.firefly:nth-child(9)::after {
  animation-duration: 14s, 7948ms;
  animation-delay: 0ms, 6890ms;
}

@keyframes move9 {
  0% {
    transform: translateX(29vw) translateY(39vh) scale(0.53);
  }
  5.2631578947% {
    transform: translateX(-7vw) translateY(-45vh) scale(0.47);
  }
  10.5263157895% {
    transform: translateX(-27vw) translateY(15vh) scale(0.41);
  }
  15.7894736842% {
    transform: translateX(15vw) translateY(-42vh) scale(0.93);
  }
  21.0526315789% {
    transform: translateX(22vw) translateY(-37vh) scale(0.97);
  }
  26.3157894737% {
    transform: translateX(-45vw) translateY(40vh) scale(0.81);
  }
  31.5789473684% {
    transform: translateX(-28vw) translateY(-3vh) scale(0.59);
  }
  36.8421052632% {
    transform: translateX(-26vw) translateY(36vh) scale(0.64);
  }
  42.1052631579% {
    transform: translateX(-33vw) translateY(-13vh) scale(0.31);
  }
  47.3684210526% {
    transform: translateX(10vw) translateY(49vh) scale(0.8);
  }
  52.6315789474% {
    transform: translateX(-11vw) translateY(-19vh) scale(0.63);
  }
  57.8947368421% {
    transform: translateX(35vw) translateY(2vh) scale(0.83);
  }
  63.1578947368% {
    transform: translateX(15vw) translateY(-30vh) scale(0.41);
  }
  68.4210526316% {
    transform: translateX(30vw) translateY(-32vh) scale(0.62);
  }
  73.6842105263% {
    transform: translateX(44vw) translateY(-39vh) scale(0.49);
  }
  78.9473684211% {
    transform: translateX(7vw) translateY(-7vh) scale(0.74);
  }
  84.2105263158% {
    transform: translateX(1vw) translateY(9vh) scale(0.37);
  }
  89.4736842105% {
    transform: translateX(-19vw) translateY(33vh) scale(0.51);
  }
  94.7368421053% {
    transform: translateX(-37vw) translateY(-42vh) scale(0.87);
  }
  100% {
    transform: translateX(-47vw) translateY(26vh) scale(0.9);
  }
}
.firefly:nth-child(10) {
  animation-name: move10;
}
.firefly:nth-child(10)::before {
  animation-duration: 11s;
}
.firefly:nth-child(10)::after {
  animation-duration: 11s, 5101ms;
  animation-delay: 0ms, 2904ms;
}

@keyframes move10 {
  0% {
    transform: translateX(50vw) translateY(4vh) scale(0.32);
  }
  4.5454545455% {
    transform: translateX(-27vw) translateY(6vh) scale(0.87);
  }
  9.0909090909% {
    transform: translateX(2vw) translateY(10vh) scale(0.62);
  }
  13.6363636364% {
    transform: translateX(-12vw) translateY(46vh) scale(0.92);
  }
  18.1818181818% {
    transform: translateX(50vw) translateY(-18vh) scale(0.43);
  }
  22.7272727273% {
    transform: translateX(-18vw) translateY(44vh) scale(0.33);
  }
  27.2727272727% {
    transform: translateX(-1vw) translateY(37vh) scale(0.62);
  }
  31.8181818182% {
    transform: translateX(22vw) translateY(7vh) scale(0.89);
  }
  36.3636363636% {
    transform: translateX(20vw) translateY(25vh) scale(0.56);
  }
  40.9090909091% {
    transform: translateX(-16vw) translateY(48vh) scale(0.53);
  }
  45.4545454545% {
    transform: translateX(28vw) translateY(16vh) scale(0.7);
  }
  50% {
    transform: translateX(-33vw) translateY(-7vh) scale(0.51);
  }
  54.5454545455% {
    transform: translateX(15vw) translateY(32vh) scale(0.66);
  }
  59.0909090909% {
    transform: translateX(47vw) translateY(-29vh) scale(0.68);
  }
  63.6363636364% {
    transform: translateX(22vw) translateY(-49vh) scale(0.53);
  }
  68.1818181818% {
    transform: translateX(-20vw) translateY(-21vh) scale(0.8);
  }
  72.7272727273% {
    transform: translateX(-15vw) translateY(23vh) scale(0.44);
  }
  77.2727272727% {
    transform: translateX(-34vw) translateY(-35vh) scale(0.65);
  }
  81.8181818182% {
    transform: translateX(-46vw) translateY(-26vh) scale(0.63);
  }
  86.3636363636% {
    transform: translateX(-44vw) translateY(25vh) scale(0.78);
  }
  90.9090909091% {
    transform: translateX(-8vw) translateY(-42vh) scale(0.95);
  }
  95.4545454545% {
    transform: translateX(31vw) translateY(-35vh) scale(0.47);
  }
  100% {
    transform: translateX(-17vw) translateY(40vh) scale(0.95);
  }
}
.firefly:nth-child(11) {
  animation-name: move11;
}
.firefly:nth-child(11)::before {
  animation-duration: 14s;
}
.firefly:nth-child(11)::after {
  animation-duration: 14s, 9915ms;
  animation-delay: 0ms, 666ms;
}

@keyframes move11 {
  0% {
    transform: translateX(-23vw) translateY(42vh) scale(1);
  }
  4.5454545455% {
    transform: translateX(-27vw) translateY(20vh) scale(0.39);
  }
  9.0909090909% {
    transform: translateX(35vw) translateY(-41vh) scale(0.84);
  }
  13.6363636364% {
    transform: translateX(-42vw) translateY(38vh) scale(0.74);
  }
  18.1818181818% {
    transform: translateX(35vw) translateY(-47vh) scale(0.44);
  }
  22.7272727273% {
    transform: translateX(-39vw) translateY(-32vh) scale(0.31);
  }
  27.2727272727% {
    transform: translateX(2vw) translateY(25vh) scale(0.67);
  }
  31.8181818182% {
    transform: translateX(-21vw) translateY(-48vh) scale(0.36);
  }
  36.3636363636% {
    transform: translateX(-46vw) translateY(-42vh) scale(0.69);
  }
  40.9090909091% {
    transform: translateX(-46vw) translateY(42vh) scale(0.49);
  }
  45.4545454545% {
    transform: translateX(1vw) translateY(-13vh) scale(0.31);
  }
  50% {
    transform: translateX(7vw) translateY(20vh) scale(0.69);
  }
  54.5454545455% {
    transform: translateX(-30vw) translateY(31vh) scale(0.27);
  }
  59.0909090909% {
    transform: translateX(40vw) translateY(-1vh) scale(0.62);
  }
  63.6363636364% {
    transform: translateX(40vw) translateY(45vh) scale(0.6);
  }
  68.1818181818% {
    transform: translateX(-26vw) translateY(49vh) scale(0.85);
  }
  72.7272727273% {
    transform: translateX(4vw) translateY(43vh) scale(0.83);
  }
  77.2727272727% {
    transform: translateX(-11vw) translateY(11vh) scale(0.43);
  }
  81.8181818182% {
    transform: translateX(-28vw) translateY(15vh) scale(0.53);
  }
  86.3636363636% {
    transform: translateX(-2vw) translateY(-23vh) scale(0.49);
  }
  90.9090909091% {
    transform: translateX(46vw) translateY(-15vh) scale(0.56);
  }
  95.4545454545% {
    transform: translateX(-37vw) translateY(-1vh) scale(0.68);
  }
  100% {
    transform: translateX(-31vw) translateY(31vh) scale(1);
  }
}
.firefly:nth-child(12) {
  animation-name: move12;
}
.firefly:nth-child(12)::before {
  animation-duration: 13s;
}
.firefly:nth-child(12)::after {
  animation-duration: 13s, 9831ms;
  animation-delay: 0ms, 2580ms;
}

@keyframes move12 {
  0% {
    transform: translateX(-4vw) translateY(-15vh) scale(0.81);
  }
  5.2631578947% {
    transform: translateX(4vw) translateY(6vh) scale(0.74);
  }
  10.5263157895% {
    transform: translateX(-30vw) translateY(-37vh) scale(0.79);
  }
  15.7894736842% {
    transform: translateX(25vw) translateY(45vh) scale(0.51);
  }
  21.0526315789% {
    transform: translateX(-49vw) translateY(-21vh) scale(0.76);
  }
  26.3157894737% {
    transform: translateX(40vw) translateY(1vh) scale(0.57);
  }
  31.5789473684% {
    transform: translateX(7vw) translateY(14vh) scale(0.43);
  }
  36.8421052632% {
    transform: translateX(47vw) translateY(2vh) scale(0.71);
  }
  42.1052631579% {
    transform: translateX(14vw) translateY(-37vh) scale(0.26);
  }
  47.3684210526% {
    transform: translateX(-8vw) translateY(-24vh) scale(0.27);
  }
  52.6315789474% {
    transform: translateX(-8vw) translateY(-33vh) scale(0.61);
  }
  57.8947368421% {
    transform: translateX(23vw) translateY(27vh) scale(0.85);
  }
  63.1578947368% {
    transform: translateX(-39vw) translateY(-10vh) scale(0.8);
  }
  68.4210526316% {
    transform: translateX(-9vw) translateY(37vh) scale(0.74);
  }
  73.6842105263% {
    transform: translateX(-9vw) translateY(26vh) scale(0.69);
  }
  78.9473684211% {
    transform: translateX(2vw) translateY(48vh) scale(0.42);
  }
  84.2105263158% {
    transform: translateX(48vw) translateY(4vh) scale(0.53);
  }
  89.4736842105% {
    transform: translateX(24vw) translateY(-28vh) scale(0.75);
  }
  94.7368421053% {
    transform: translateX(32vw) translateY(-42vh) scale(0.93);
  }
  100% {
    transform: translateX(-13vw) translateY(-24vh) scale(0.71);
  }
}
.firefly:nth-child(13) {
  animation-name: move13;
}
.firefly:nth-child(13)::before {
  animation-duration: 10s;
}
.firefly:nth-child(13)::after {
  animation-duration: 10s, 9072ms;
  animation-delay: 0ms, 7956ms;
}

@keyframes move13 {
  0% {
    transform: translateX(-3vw) translateY(23vh) scale(0.83);
  }
  3.5714285714% {
    transform: translateX(-9vw) translateY(41vh) scale(0.53);
  }
  7.1428571429% {
    transform: translateX(42vw) translateY(33vh) scale(0.95);
  }
  10.7142857143% {
    transform: translateX(-43vw) translateY(-40vh) scale(0.73);
  }
  14.2857142857% {
    transform: translateX(-19vw) translateY(45vh) scale(0.95);
  }
  17.8571428571% {
    transform: translateX(-14vw) translateY(-24vh) scale(0.4);
  }
  21.4285714286% {
    transform: translateX(-12vw) translateY(48vh) scale(0.95);
  }
  25% {
    transform: translateX(43vw) translateY(-18vh) scale(0.48);
  }
  28.5714285714% {
    transform: translateX(50vw) translateY(-43vh) scale(0.73);
  }
  32.1428571429% {
    transform: translateX(33vw) translateY(-22vh) scale(0.31);
  }
  35.7142857143% {
    transform: translateX(7vw) translateY(-26vh) scale(0.74);
  }
  39.2857142857% {
    transform: translateX(-19vw) translateY(-6vh) scale(0.53);
  }
  42.8571428571% {
    transform: translateX(-31vw) translateY(21vh) scale(0.88);
  }
  46.4285714286% {
    transform: translateX(-34vw) translateY(19vh) scale(0.98);
  }
  50% {
    transform: translateX(-34vw) translateY(11vh) scale(0.42);
  }
  53.5714285714% {
    transform: translateX(7vw) translateY(-19vh) scale(0.87);
  }
  57.1428571429% {
    transform: translateX(7vw) translateY(5vh) scale(0.67);
  }
  60.7142857143% {
    transform: translateX(12vw) translateY(-47vh) scale(0.58);
  }
  64.2857142857% {
    transform: translateX(-2vw) translateY(5vh) scale(0.48);
  }
  67.8571428571% {
    transform: translateX(14vw) translateY(25vh) scale(0.83);
  }
  71.4285714286% {
    transform: translateX(39vw) translateY(-34vh) scale(0.33);
  }
  75% {
    transform: translateX(23vw) translateY(-49vh) scale(0.66);
  }
  78.5714285714% {
    transform: translateX(48vw) translateY(16vh) scale(0.55);
  }
  82.1428571429% {
    transform: translateX(-37vw) translateY(-25vh) scale(0.98);
  }
  85.7142857143% {
    transform: translateX(-16vw) translateY(-9vh) scale(0.27);
  }
  89.2857142857% {
    transform: translateX(48vw) translateY(10vh) scale(0.67);
  }
  92.8571428571% {
    transform: translateX(21vw) translateY(-43vh) scale(0.34);
  }
  96.4285714286% {
    transform: translateX(-47vw) translateY(39vh) scale(0.36);
  }
  100% {
    transform: translateX(-20vw) translateY(6vh) scale(0.4);
  }
}
.firefly:nth-child(14) {
  animation-name: move14;
}
.firefly:nth-child(14)::before {
  animation-duration: 9s;
}
.firefly:nth-child(14)::after {
  animation-duration: 9s, 5198ms;
  animation-delay: 0ms, 7744ms;
}

@keyframes move14 {
  0% {
    transform: translateX(23vw) translateY(-33vh) scale(0.98);
  }
  4.7619047619% {
    transform: translateX(-40vw) translateY(40vh) scale(0.48);
  }
  9.5238095238% {
    transform: translateX(-27vw) translateY(48vh) scale(0.45);
  }
  14.2857142857% {
    transform: translateX(-16vw) translateY(-30vh) scale(0.46);
  }
  19.0476190476% {
    transform: translateX(-25vw) translateY(31vh) scale(0.28);
  }
  23.8095238095% {
    transform: translateX(-27vw) translateY(-33vh) scale(0.88);
  }
  28.5714285714% {
    transform: translateX(46vw) translateY(-26vh) scale(0.31);
  }
  33.3333333333% {
    transform: translateX(26vw) translateY(39vh) scale(0.57);
  }
  38.0952380952% {
    transform: translateX(-7vw) translateY(-46vh) scale(0.61);
  }
  42.8571428571% {
    transform: translateX(0vw) translateY(-39vh) scale(0.82);
  }
  47.619047619% {
    transform: translateX(-30vw) translateY(37vh) scale(0.96);
  }
  52.380952381% {
    transform: translateX(-31vw) translateY(0vh) scale(0.62);
  }
  57.1428571429% {
    transform: translateX(-30vw) translateY(-24vh) scale(0.96);
  }
  61.9047619048% {
    transform: translateX(2vw) translateY(8vh) scale(1);
  }
  66.6666666667% {
    transform: translateX(17vw) translateY(26vh) scale(0.97);
  }
  71.4285714286% {
    transform: translateX(-1vw) translateY(-34vh) scale(0.37);
  }
  76.1904761905% {
    transform: translateX(2vw) translateY(38vh) scale(0.52);
  }
  80.9523809524% {
    transform: translateX(-7vw) translateY(-31vh) scale(0.55);
  }
  85.7142857143% {
    transform: translateX(39vw) translateY(-27vh) scale(0.4);
  }
  90.4761904762% {
    transform: translateX(43vw) translateY(-47vh) scale(0.79);
  }
  95.2380952381% {
    transform: translateX(44vw) translateY(-9vh) scale(0.64);
  }
  100% {
    transform: translateX(22vw) translateY(27vh) scale(0.79);
  }
}
.firefly:nth-child(15) {
  animation-name: move15;
}
.firefly:nth-child(15)::before {
  animation-duration: 15s;
}
.firefly:nth-child(15)::after {
  animation-duration: 15s, 10981ms;
  animation-delay: 0ms, 6356ms;
}

@keyframes move15 {
  0% {
    transform: translateX(35vw) translateY(2vh) scale(0.47);
  }
  4.5454545455% {
    transform: translateX(-44vw) translateY(-49vh) scale(0.36);
  }
  9.0909090909% {
    transform: translateX(-27vw) translateY(-32vh) scale(0.41);
  }
  13.6363636364% {
    transform: translateX(31vw) translateY(15vh) scale(0.82);
  }
  18.1818181818% {
    transform: translateX(-40vw) translateY(-32vh) scale(0.58);
  }
  22.7272727273% {
    transform: translateX(-29vw) translateY(32vh) scale(0.74);
  }
  27.2727272727% {
    transform: translateX(32vw) translateY(-48vh) scale(0.53);
  }
  31.8181818182% {
    transform: translateX(33vw) translateY(21vh) scale(0.98);
  }
  36.3636363636% {
    transform: translateX(17vw) translateY(41vh) scale(0.29);
  }
  40.9090909091% {
    transform: translateX(2vw) translateY(-43vh) scale(0.33);
  }
  45.4545454545% {
    transform: translateX(-34vw) translateY(30vh) scale(0.88);
  }
  50% {
    transform: translateX(5vw) translateY(-26vh) scale(0.94);
  }
  54.5454545455% {
    transform: translateX(-13vw) translateY(-33vh) scale(0.6);
  }
  59.0909090909% {
    transform: translateX(2vw) translateY(-5vh) scale(0.32);
  }
  63.6363636364% {
    transform: translateX(10vw) translateY(-44vh) scale(0.41);
  }
  68.1818181818% {
    transform: translateX(-21vw) translateY(-21vh) scale(0.91);
  }
  72.7272727273% {
    transform: translateX(40vw) translateY(-24vh) scale(0.99);
  }
  77.2727272727% {
    transform: translateX(5vw) translateY(-15vh) scale(0.81);
  }
  81.8181818182% {
    transform: translateX(-35vw) translateY(-20vh) scale(0.56);
  }
  86.3636363636% {
    transform: translateX(-3vw) translateY(33vh) scale(0.44);
  }
  90.9090909091% {
    transform: translateX(-22vw) translateY(29vh) scale(0.94);
  }
  95.4545454545% {
    transform: translateX(33vw) translateY(-18vh) scale(0.94);
  }
  100% {
    transform: translateX(-2vw) translateY(-26vh) scale(0.6);
  }
}
.firefly:nth-child(16) {
  animation-name: move16;
}
.firefly:nth-child(16)::before {
  animation-duration: 16s;
}
.firefly:nth-child(16)::after {
  animation-duration: 16s, 10006ms;
  animation-delay: 0ms, 1119ms;
}

@keyframes move16 {
  0% {
    transform: translateX(-48vw) translateY(-46vh) scale(0.98);
  }
  5.8823529412% {
    transform: translateX(13vw) translateY(-6vh) scale(0.93);
  }
  11.7647058824% {
    transform: translateX(-24vw) translateY(18vh) scale(0.74);
  }
  17.6470588235% {
    transform: translateX(43vw) translateY(23vh) scale(0.77);
  }
  23.5294117647% {
    transform: translateX(-44vw) translateY(13vh) scale(0.31);
  }
  29.4117647059% {
    transform: translateX(-26vw) translateY(-44vh) scale(0.76);
  }
  35.2941176471% {
    transform: translateX(33vw) translateY(33vh) scale(0.93);
  }
  41.1764705882% {
    transform: translateX(36vw) translateY(1vh) scale(0.26);
  }
  47.0588235294% {
    transform: translateX(27vw) translateY(29vh) scale(0.3);
  }
  52.9411764706% {
    transform: translateX(14vw) translateY(16vh) scale(0.59);
  }
  58.8235294118% {
    transform: translateX(-10vw) translateY(1vh) scale(0.65);
  }
  64.7058823529% {
    transform: translateX(11vw) translateY(13vh) scale(0.9);
  }
  70.5882352941% {
    transform: translateX(-2vw) translateY(-6vh) scale(0.98);
  }
  76.4705882353% {
    transform: translateX(-13vw) translateY(-32vh) scale(0.27);
  }
  82.3529411765% {
    transform: translateX(-4vw) translateY(-12vh) scale(0.72);
  }
  88.2352941176% {
    transform: translateX(3vw) translateY(-23vh) scale(0.54);
  }
  94.1176470588% {
    transform: translateX(48vw) translateY(50vh) scale(0.93);
  }
  100% {
    transform: translateX(-1vw) translateY(1vh) scale(0.81);
  }
}
.firefly:nth-child(17) {
  animation-name: move17;
}
.firefly:nth-child(17)::before {
  animation-duration: 18s;
}
.firefly:nth-child(17)::after {
  animation-duration: 18s, 9257ms;
  animation-delay: 0ms, 1323ms;
}

@keyframes move17 {
  0% {
    transform: translateX(32vw) translateY(21vh) scale(0.46);
  }
  5.2631578947% {
    transform: translateX(41vw) translateY(49vh) scale(0.64);
  }
  10.5263157895% {
    transform: translateX(-29vw) translateY(-11vh) scale(0.3);
  }
  15.7894736842% {
    transform: translateX(39vw) translateY(46vh) scale(0.51);
  }
  21.0526315789% {
    transform: translateX(-38vw) translateY(48vh) scale(0.26);
  }
  26.3157894737% {
    transform: translateX(37vw) translateY(-14vh) scale(0.44);
  }
  31.5789473684% {
    transform: translateX(-18vw) translateY(48vh) scale(0.63);
  }
  36.8421052632% {
    transform: translateX(31vw) translateY(-34vh) scale(0.9);
  }
  42.1052631579% {
    transform: translateX(44vw) translateY(-38vh) scale(0.96);
  }
  47.3684210526% {
    transform: translateX(18vw) translateY(29vh) scale(0.94);
  }
  52.6315789474% {
    transform: translateX(-22vw) translateY(-19vh) scale(0.38);
  }
  57.8947368421% {
    transform: translateX(-6vw) translateY(26vh) scale(0.5);
  }
  63.1578947368% {
    transform: translateX(24vw) translateY(-27vh) scale(0.53);
  }
  68.4210526316% {
    transform: translateX(21vw) translateY(33vh) scale(0.84);
  }
  73.6842105263% {
    transform: translateX(-9vw) translateY(-46vh) scale(0.29);
  }
  78.9473684211% {
    transform: translateX(17vw) translateY(-45vh) scale(0.55);
  }
  84.2105263158% {
    transform: translateX(-48vw) translateY(29vh) scale(0.87);
  }
  89.4736842105% {
    transform: translateX(29vw) translateY(-28vh) scale(0.75);
  }
  94.7368421053% {
    transform: translateX(-36vw) translateY(-15vh) scale(0.44);
  }
  100% {
    transform: translateX(29vw) translateY(-37vh) scale(1);
  }
}
.firefly:nth-child(18) {
  animation-name: move18;
}
.firefly:nth-child(18)::before {
  animation-duration: 11s;
}
.firefly:nth-child(18)::after {
  animation-duration: 11s, 7787ms;
  animation-delay: 0ms, 8476ms;
}

@keyframes move18 {
  0% {
    transform: translateX(-40vw) translateY(42vh) scale(0.36);
  }
  4.5454545455% {
    transform: translateX(25vw) translateY(36vh) scale(0.41);
  }
  9.0909090909% {
    transform: translateX(-6vw) translateY(12vh) scale(0.7);
  }
  13.6363636364% {
    transform: translateX(20vw) translateY(32vh) scale(0.44);
  }
  18.1818181818% {
    transform: translateX(-33vw) translateY(-37vh) scale(0.55);
  }
  22.7272727273% {
    transform: translateX(43vw) translateY(8vh) scale(0.44);
  }
  27.2727272727% {
    transform: translateX(-25vw) translateY(15vh) scale(0.76);
  }
  31.8181818182% {
    transform: translateX(-47vw) translateY(46vh) scale(0.55);
  }
  36.3636363636% {
    transform: translateX(-25vw) translateY(-33vh) scale(0.54);
  }
  40.9090909091% {
    transform: translateX(24vw) translateY(-4vh) scale(0.69);
  }
  45.4545454545% {
    transform: translateX(32vw) translateY(-48vh) scale(0.35);
  }
  50% {
    transform: translateX(-38vw) translateY(21vh) scale(0.35);
  }
  54.5454545455% {
    transform: translateX(1vw) translateY(25vh) scale(0.54);
  }
  59.0909090909% {
    transform: translateX(-35vw) translateY(-49vh) scale(0.55);
  }
  63.6363636364% {
    transform: translateX(-9vw) translateY(-49vh) scale(0.97);
  }
  68.1818181818% {
    transform: translateX(-39vw) translateY(20vh) scale(0.82);
  }
  72.7272727273% {
    transform: translateX(23vw) translateY(34vh) scale(0.55);
  }
  77.2727272727% {
    transform: translateX(-48vw) translateY(43vh) scale(0.37);
  }
  81.8181818182% {
    transform: translateX(-30vw) translateY(8vh) scale(0.85);
  }
  86.3636363636% {
    transform: translateX(-45vw) translateY(-11vh) scale(0.97);
  }
  90.9090909091% {
    transform: translateX(2vw) translateY(-44vh) scale(0.97);
  }
  95.4545454545% {
    transform: translateX(49vw) translateY(19vh) scale(0.55);
  }
  100% {
    transform: translateX(16vw) translateY(-23vh) scale(0.6);
  }
}
.firefly:nth-child(19) {
  animation-name: move19;
}
.firefly:nth-child(19)::before {
  animation-duration: 11s;
}
.firefly:nth-child(19)::after {
  animation-duration: 11s, 8428ms;
  animation-delay: 0ms, 5028ms;
}

@keyframes move19 {
  0% {
    transform: translateX(25vw) translateY(49vh) scale(0.34);
  }
  4% {
    transform: translateX(23vw) translateY(13vh) scale(0.54);
  }
  8% {
    transform: translateX(5vw) translateY(-26vh) scale(0.89);
  }
  12% {
    transform: translateX(-34vw) translateY(-32vh) scale(0.42);
  }
  16% {
    transform: translateX(-31vw) translateY(5vh) scale(0.87);
  }
  20% {
    transform: translateX(-38vw) translateY(-44vh) scale(0.69);
  }
  24% {
    transform: translateX(31vw) translateY(23vh) scale(0.82);
  }
  28% {
    transform: translateX(-2vw) translateY(0vh) scale(0.69);
  }
  32% {
    transform: translateX(32vw) translateY(44vh) scale(0.57);
  }
  36% {
    transform: translateX(28vw) translateY(25vh) scale(0.8);
  }
  40% {
    transform: translateX(12vw) translateY(9vh) scale(0.38);
  }
  44% {
    transform: translateX(20vw) translateY(2vh) scale(0.91);
  }
  48% {
    transform: translateX(28vw) translateY(27vh) scale(0.97);
  }
  52% {
    transform: translateX(-31vw) translateY(-8vh) scale(0.86);
  }
  56% {
    transform: translateX(36vw) translateY(1vh) scale(0.39);
  }
  60% {
    transform: translateX(41vw) translateY(22vh) scale(0.7);
  }
  64% {
    transform: translateX(35vw) translateY(19vh) scale(0.93);
  }
  68% {
    transform: translateX(-24vw) translateY(32vh) scale(0.52);
  }
  72% {
    transform: translateX(-16vw) translateY(-18vh) scale(0.93);
  }
  76% {
    transform: translateX(-29vw) translateY(11vh) scale(0.5);
  }
  80% {
    transform: translateX(-32vw) translateY(2vh) scale(0.66);
  }
  84% {
    transform: translateX(43vw) translateY(2vh) scale(0.44);
  }
  88% {
    transform: translateX(-30vw) translateY(27vh) scale(0.99);
  }
  92% {
    transform: translateX(50vw) translateY(40vh) scale(0.3);
  }
  96% {
    transform: translateX(-20vw) translateY(18vh) scale(0.8);
  }
  100% {
    transform: translateX(18vw) translateY(24vh) scale(0.73);
  }
}
.firefly:nth-child(20) {
  animation-name: move20;
}
.firefly:nth-child(20)::before {
  animation-duration: 18s;
}
.firefly:nth-child(20)::after {
  animation-duration: 18s, 7289ms;
  animation-delay: 0ms, 6170ms;
}

@keyframes move20 {
  0% {
    transform: translateX(31vw) translateY(-9vh) scale(0.41);
  }
  5.5555555556% {
    transform: translateX(-19vw) translateY(14vh) scale(0.55);
  }
  11.1111111111% {
    transform: translateX(45vw) translateY(-3vh) scale(0.57);
  }
  16.6666666667% {
    transform: translateX(40vw) translateY(-44vh) scale(0.45);
  }
  22.2222222222% {
    transform: translateX(-10vw) translateY(-12vh) scale(0.8);
  }
  27.7777777778% {
    transform: translateX(42vw) translateY(7vh) scale(0.64);
  }
  33.3333333333% {
    transform: translateX(3vw) translateY(-9vh) scale(0.32);
  }
  38.8888888889% {
    transform: translateX(43vw) translateY(-22vh) scale(0.41);
  }
  44.4444444444% {
    transform: translateX(11vw) translateY(-28vh) scale(0.66);
  }
  50% {
    transform: translateX(33vw) translateY(-20vh) scale(0.57);
  }
  55.5555555556% {
    transform: translateX(5vw) translateY(-19vh) scale(0.93);
  }
  61.1111111111% {
    transform: translateX(-23vw) translateY(37vh) scale(0.65);
  }
  66.6666666667% {
    transform: translateX(12vw) translateY(4vh) scale(0.96);
  }
  72.2222222222% {
    transform: translateX(2vw) translateY(33vh) scale(0.83);
  }
  77.7777777778% {
    transform: translateX(-43vw) translateY(-21vh) scale(0.76);
  }
  83.3333333333% {
    transform: translateX(-10vw) translateY(43vh) scale(0.87);
  }
  88.8888888889% {
    transform: translateX(31vw) translateY(28vh) scale(0.89);
  }
  94.4444444444% {
    transform: translateX(47vw) translateY(-13vh) scale(0.81);
  }
  100% {
    transform: translateX(13vw) translateY(-32vh) scale(0.58);
  }
}
@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}
/* fireflies end */

/* home canvas */
canvas {
  position: absolute;
  top: 0;
  /* overflow-y: hidden; */
  width: 100%;
  opacity: 0.5;
}

/* home canvas ends */

.title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #fff;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  letter-spacing: 1px;
  line-height: 2;
}
.rejuvenation {
  position: relative;
  font-size: 10vw;
  /* font-size: 100px; */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 900;
}
.rejuvenation div {
  background-image: url("./assets/images/fire.gif");
  background-size: contain;
  /* filter: blur(5px); */
  letter-spacing: 0.5rem;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  /* font-size: 10vw; */
  /* margin: 10px 0; */
  position: absolute;
  width: 100%;
}
.rejuvenation::after {
  text-shadow: 2px 2px 10px black;
  color: transparent;
  content: "REJUVENATION";
}

.motto {
  color: #ff5b38;
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-shadow: 2px 2px 5px black;
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #fff;
  transition: 0.35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #fff;
  color: #122;
}

.rotatingText {
  align-items: center !important;
  height: 5vh;
  /* height: 100vh; */
  text-align: center;
}

.rotatingText-content {
  text-align: center !important;
  position: relative;
  margin: auto 0;
}
@media (min-width: 768px) {
  .rotatingText-description {
    font-size: 18px;
  }
}

.rotatingText-adjective {
  animation-iteration-count: infinite;
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  /* left: 0; */
  margin-bottom: 0;
  margin-top: 10px;
  width: 100%;
  opacity: 0;
  position: absolute;
  /* right: 0; */
  text-align: center;
  text-transform: uppercase;
  top: 0;
  letter-spacing: 1.5rem;
  text-indent: 1.5rem;
}

.rotatingText-adjective:nth-of-type(1) {
  -webkit-animation: rotate-text-up 1.5s 0.75s;
  animation: rotate-text-up 1.5s 0.75s;
}
.rotatingText-adjective:nth-of-type(2) {
  -webkit-animation: rotate-text-up 1.5s 2s;
  animation: rotate-text-up 1.5s 2s;
}
.rotatingText-adjective:nth-of-type(3) {
  -webkit-animation: fade-text-in 1.5s 3.25s forwards;
  animation: fade-text-in 1.5s 3.25s forwards;
}

@-webkit-keyframes rotate-text-up {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }
  20%,
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

@keyframes rotate-text-up {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }
  20%,
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes fade-text-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }
  50%,
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-text-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }
  50%,
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#events {
  height: 100vh;
  font-family: "Amaranth", sans-serif;
  font-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.owl-carousel .owl-nav div.owl-prev,
.owl-carousel .owl-nav div.owl-next {
  color: white;
  font-size: 30px;
  margin-top: -20px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 50%;
  text-align: center;
  line-height: 39px;
  opacity: 0;
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.owl-carousel .owl-nav div.owl-prev {
  left: 10%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
}
.owl-carousel .owl-nav div.owl-next {
  right: 10%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
}
.owl-carousel:hover .owl-nav div.owl-next {
  right: -2%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  opacity: 1;
}
.owl-carousel:hover .owl-nav div.owl-prev {
  left: -2%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  opacity: 1;
}
.owl-carousel:hover .owl-nav div.owl-next:hover,
.owl-carousel:hover .owl-nav div.owl-prev:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0);
  border: none;
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  #time {
    height: 80.5px;
    width: 80.5px;
    font-size: 20px;
  }
  .card-title {
    font-size: 20px !important;
  }
  .card-text {
    font-size: 17px !important;
  }
  .card-text {
    min-height: 75px !important;
    margin: 0;
  }
}
.convenor {
  text-align: center;
}
.convenor img {
  max-width: 18rem;
}
.convenor-owl {
  max-width: 80vw !important;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .card-title {
    font-size: 18px !important;
  }
  .card-text {
    min-height: 80px !important;
    margin: 0;
    font-size: 16px !important;
  }
}

.heading-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#event_card {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.card {
  align-items: center;
}

.card,
.card-img {
  padding: 5px;
  border-radius: 5%;
}

.card-img-top {
  border: #ffffff solid 3px;
  border-radius: 5%;
}
.card-title,
.card-text {
  text-shadow: 2px 2px 5px black;
  color: white;
  font-size: 22px;
}
.card-text {
  min-height: 70px !important;
}
.card-img {
  height: 350px;
}

.card-body a {
  color: #ffffff !important;
  text-decoration: none !important;
}
.heading-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.display-5 {
  /* font-family: "Freshbot", sans-serif; */
  text-shadow: 2px 2px 5px black;
}

#tchr {
  height: 250px;
  width: 250px;
  border: white solid 2px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 0px !important;
  z-index: 2;
}

.convenor img {
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}

.principal-row {
  max-width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
  .principal-row {
    flex-direction: column;
    max-width: 100vw;
  }

  .principal-row {
    flex-direction: column;
    max-width: 100vw;
  }
  .contact {
    flex-direction: column !important;
  }
}

.location iframe {
  width: 100%;
  min-height: 25vh;
  height: 100%;
  border-radius: 10px;
}

.location {
  min-width: 45vw;
}

.contact {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
}

.contact div {
  min-width: 45vw;
  margin: 10px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #fff solid 2px;
  border-radius: 10px;
}
.contact-details p{
  font-size: 20px;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: white;
}

.hidden{
  visibility: hidden;
}

.event-date{
  font-size:3rem;
  color: white;
  font-family: "Freshbot", sans-serif;
}
.event-date h2{
  font-size:3.5rem;
  color: white;
  font-family: "Freshbot", sans-serif;
}
.event-date p{
  padding: 15px;
  border: #fff solid 2px;
  border-radius: 15px 5px 15px 5px;
  width: fit-content;
  margin: 0 auto;
  line-height: 0.5;
}